<div class="user_container">
    <div class="user_hero">
        <div class="user_section">
            <%= image_tag(@user.photo || '', class: "user_section_image") %>
            <div class="user_details_info">
                <h2 class="user_section_title"><%= @user.name %></h2>
                <span>Number of posts: <%= @user.posts.count %> </span>
            </div>
        </div>
        <div class="user_bio_section">
            <h3 class="user_bio_title">Bio</h3>
            <span>
                <%= @user.bio %>
            </span>
            <br>
            <div>
                <% if user_signed_in? && current_user.id == @user.id %>
                    <%= link_to "Create Post", new_user_post_path(@user) %>
                <% end %>
            </div>
        </div>
    </div>

    <div class="user_details_post">
        <h3 class="recent_title">Users Top Recent Posts</h3>
        <%= render 'post', posts: @user.three_most_recent_post %>
    </div>
    <a href="/users/<%= @user.id %>/posts" class="user_details_see_btn">See all posts</a>
    <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
</div>
